/**
 * Universal reset
 * ---------------
 */

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: border-box;
}

/**
 * Global styles + utilities
 * -------------------------
 */

html {
    font: 400 0.9rem/1.75 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Corbel, 'Trebuchet MS', Verdana, Tahoma, sans-serif;
    text-rendering: optimizeLegibility;
}

/** Global layout container */
.container {
    margin: 0 auto;
    padding: 1rem;
    max-width: 1300px;
}

/** Sketchpad interface */
.sketch-grid-container {
    display: flex;
    flex-flow: wrap;
    margin: 0 auto;
    width: 960px;
    height: 960px;
    border: 1px solid #ebebeb;
}

.sketch-grid-cell {
    /** Start with a 16x16 grid by default. */
    width: calc(100% / 16);
    height: calc(100% / 16);
    border: 1px solid #ebebeb;
    cursor: pointer;
}

.filled {
    background-color: #555555;
}

