/**
 * Universal reset
 * ---------------
 */

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: border-box;
}

/**
 * Global styles + utilities
 * -------------------------
 */

html {
    font: 400 0.9rem/1.75 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Corbel, 'Trebuchet MS', Verdana, Tahoma, sans-serif;
    text-rendering: optimizeLegibility;
    min-height: 100vh;
    background: linear-gradient(to bottom, #f5f5f5, #e6e6e6);
    color: #7b7b7b;
}

a, a:link, a:visited {
    font-weight: normal;
    text-decoration: none;
    color: #278aba;
}

a:hover {
    color: #165473;
}

a:active {
    border-bottom: 1px solid #cccccc;
}

input, select, textarea, button {
    font: inherit;
    padding: 0.75rem;
}

button {
    cursor: pointer;
    color: #fbfbfb;
    box-shadow:0 1px 24px rgba(0, 0, 0, 0.17);
    border-radius: 12px;
}

p {
    margin: 1.5rem 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.1;
    color: #000000;
}

/** Global layout container */
.container {
    margin: 0 auto;
    padding: 1rem;
    max-width: 1300px;
}

/**
 * Page header
 * -----------
 */

.header-container {
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container h1 {
    flex: 8;
}

.header-container button.new-grid-btn {
    flex: 2;
}

.header-container h1 {
    font-size: 2.25rem;

}

.new-grid-btn {
    background: linear-gradient(to bottom, #278aba, #165473);
}

.new-grid-btn:hover {
    background: linear-gradient(to bottom, #165473, #278aba);
    color: #ffffff;
}
/**
 * Sketchpad
 * ---------
 */

.sketchpad-container {
    padding: 1rem;
}

.sketchpad-container > p {
    font-size: 1.10rem;
    text-align: center;
}

/** Sketchpad interface */
.sketch-grid-container {
    display: flex;
    flex-flow: wrap;
    margin: 0 auto;
    padding: 0.5rem;
    width: 960px;
    height: 960px;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    background-color: #fbfbfb;
    box-shadow: 0 1px 24px rgba(0, 0, 0, 0.17);
}

.sketch-grid-cell {
    /** Start with a 16x16 grid by default. */
    width: calc(100% / 16);
    height: calc(100% / 16);
    border: 1px solid #ebebeb;
    cursor: pointer;
}

.filled {
    background-color: #555555;
}

/**
 * Page footer
 * -----------
 */

.footer-container {
    text-align: center;
    padding: 3rem 0;
}

.footer-container::before {
    margin: 1.5rem 0 3rem 0;
    display: block;
    content: ' ';
    width: auto;
    height: 1px;
    background: linear-gradient(to right, transparent, #dbdbdb, transparent);
}

.footer-copy {
    font-size: 0.8rem;
}

.footer-note {
    font-variant: small-caps;
    letter-spacing: 0.10rem;
}

