/**
 * Universal reset
 * ---------------
 */

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: border-box;
}

/**
 * Global styles + utilities
 * -------------------------
 */

html {
    font: 400 0.9rem/1.75 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Corbel, 'Trebuchet MS', Verdana, Tahoma, sans-serif;
    text-rendering: optimizeLegibility;
    min-height: 100vh;
    background: linear-gradient(to bottom, #f5f5f5, #e6e6e6);
    color: #7b7b7b;
}

p {
    margin: 1.5rem 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.1;
    color: #000000;
}

/** Global layout container */
.container {
    margin: 0 auto;
    padding: 1rem;
    max-width: 1300px;
}

/** Sketchpad interface */
.sketch-grid-container {
    display: flex;
    flex-flow: wrap;
    margin: 0 auto;
    padding: 0.5rem;
    width: 960px;
    height: 960px;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    background-color: #fbfbfb;
    box-shadow: 0 1px 24px rgba(0, 0, 0, 0.17);
}

.sketch-grid-cell {
    /** Start with a 16x16 grid by default. */
    width: calc(100% / 16);
    height: calc(100% / 16);
    border: 1px solid #ebebeb;
    cursor: pointer;
}

.filled {
    background-color: #555555;
}

